#form-header {
    background-color: #ffffff !important;
}

.song-form-text {
    padding-left: 2%;
    padding-right: 2%;
}

.song-form-title {
    font-weight: bold;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}